#logo{
width: 150px;
color: white !important;
}
// #col{
//     width: 120px;
// }

 aside 
{
   

       li{
list-style-type: none;
&:hover{
    text-decoration: underline;
    color: white !important;
}
} 
}

 aside svg{
    &:hover{
        border: 1px solid white;
        background-color: gray;
        border-radius: 20px;
        color: white !important;
        padding: 5px;
    }
}
   #rigth, #left{
&:hover{
color: white !important;
}
 }
 
 #play{
    &:hover{
transform: scale(1.1);
    }
     }
#casuale{
    &:hover{
        color: green!important;
    }
}


// @media screen and (max-width:768px) {
//     #col{
//         width: 90px !important;
//     }
// }